<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>securstack</id>
    <version>__VERSION__</version>
    <title>SecurStack CLI</title>
    <authors>SecurStack</authors>
    <projectUrl>https://securstack.io</projectUrl>
    <licenseUrl>https://securstack.io/terms</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>SecurStack CLI for repository security scans and Shielding workflows.</description>
    <tags>securstack security devsecops cli</tags>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
