class Securstack < Formula
  desc "Run repository security scans and Shielding workflows"
  homepage "https://securstack.io"
  version "__VERSION__"

  on_macos do
    if Hardware::CPU.arm?
      url "__DARWIN_ARM64_URL__", using: :nounzip
      sha256 "__DARWIN_ARM64_SHA256__"
    else
      url "__DARWIN_X64_URL__", using: :nounzip
      sha256 "__DARWIN_X64_SHA256__"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "__LINUX_ARM64_URL__", using: :nounzip
      sha256 "__LINUX_ARM64_SHA256__"
    else
      url "__LINUX_X64_URL__", using: :nounzip
      sha256 "__LINUX_X64_SHA256__"
    end
  end

  def install
    binary = Dir["securstack-*"].first
    bin.install binary => "securstack"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/securstack --version")
  end
end
